/* GLOBALES */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url('../img/fondo.jpg');
}


@media (min-width: 900px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
    }    
}

.container {
    width: 100%;    
}


.avatar-usuario {
    display: block;
    width: 200px;
    margin-left: 100px;
}





/*
.inicio-sesion {
    margin-top: 30px;
    position: absolute;
    right: 12px;
}

.inicio-sesion a {
    color: white;
    background-color: #00afa0;
    padding: 12px;
    text-decoration: none;
    border-radius: 7px;
    border: solid 2px #00afa0;
    display: inline-block;
    transition: 0.3s ease-in-out;
}

.inicio-sesion a:nth-child(2){    
    background-color: rgba(0, 175, 160, 0.2);
    font-weight: 400;
    margin-right: 12px;
}

.inicio-sesion a:nth-child(2):hover{    
    background-color: rgba(0, 175, 160, 0.5);
    font-weight: 400;
    margin-right: 12px;
    transform: scale(1.03);
}

.inicio-sesion a:last-child:hover{
    transform: scale(1.03);
}
.boton-inicio:hover{
    transform: scale(1.03);
}
*/

/*MAIN INICIO*/

.main-slogan {
    color: rgb(238, 238, 238);
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 40%;
    left: 10%;
    text-shadow: 1px 1px 1px rgb(34, 34, 34);
}

.titulo {
    text-transform: uppercase;
    font-size: 2.6em;
    padding-bottom: 30px;
    font-weight: 500;
}

.slogan {
    font-size: 2.1em;
    font-weight: 100;
}



/* ERRORES FORMULARIO */

.avatar {
    display: block;
    padding-bottom: 20px;
    color: transparent;
}

.errores {
    background-color: orangered;
    color: white;
    margin: 3px 0;
    padding: 5px;
}


/* AVATAR */
